body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

.spanColor {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 5% ;
    margin-top: 0mm;
}

.half-width {
    width: 50% ;
    padding-left: 5%;
}

.half-width img {
    width: 68%;
    padding-top: 5%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.half-width1 {
    width: 50%;
    text-align: justify;
}

.half-width1 p {
    margin-right: 15%;
}


.half-width1 img {
    width: 65%;
}

.middle-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.h2-color {
    color: orange;
}

.experience-item {
    width: 40% ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1.5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 0%;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}

#web {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}